

body {
    background:#AADDE8;
    font-family: "Open Sans", OpenSans, sans-serif;
    color:#545454;
    font-size:16px;
    padding:0;
    margin:0;
}

body *, body *:before, body *:after{
    box-sizing: border-box;
}

.titleFont2, h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: normal;
    color: #222;
}

hr{
    background-color: #A7A7A7; height: 1px; border: 0;

}


#home {}

#createProfile {
    background:#AADDE8;
    background-image: url("../img/bg.png");
}

#container {
    width:100%;
    position:relative;
    margin:0;
    padding:0;
}

.content{
    padding: 0 20px 100px;
    width:100%;
    margin:auto;
    max-width:400px;
}


.progress{

    background: #043C63;
    width: 100%;
    text-align: center;
    padding: 15px 0 15px;
}

.progress h1{
    color:#EBDE11;
    font-weight: bold;
}
.progress img{
    margin: auto;
    height: 48px;
    width:254px;
}
ul {margin:0px;padding:0;}

ul li  {
    list-style:none;
    margin:0;
    padding:0;
}

.userProfile label, .billingView label{
    padding: 20px 0 2px;
    height: 16px;
    display: block;
}



.preferenceView li{
    display: block;
    padding-bottom: 20px;
}


.preferenceView li.section{

}

.preferenceView .subTitle{
    font-size: 18px;
    color: #333;
}

input, select, button  {
    width:100%;
    margin:0;
    height: 40px;
    border-radius: 3px;
    max-width:400px;
    border: none;
}

input[type=text], input[type=email], select {
    padding-left: 10px;
}

input[type=checkbox], input[type=radio]{
    text-align: left;
    width: auto;
    margin-right: 10px;
    float:left;
    display: inline-block;
}
button{
    font-size: 16px;
    background:#043C63;
    margin: 50px auto;
    display:block;
    font-famuily: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.shippingView .shipImg{
    width: 100px;
    height: auto;
}
.price{
    display: inline-block;
    width: 50px;
}

.billingAddressWrapper{
    display:block;
    margin-top:30px;
}
/*helpers*/
.group:after {
    content: "";
    display: table;
    clear: both;
}

.hidden{
    display: none;
}